$maxWidthLleftPanel: 280px
$maxHeightTitle: 65px
#gadmin
  #leftPanel
    background-color: $white
    height: 100%
    position: fixed
    width: $maxWidthLleftPanel
    border-right: 1px solid $gray-300
    .title-name
      background-color: $white
      max-height: $maxHeightTitle
      border-bottom: 1px solid $gray-300
      h5
        text-align: center
        font-size: 1rem
        letter-spacing: .5px
        font-weight: 500
        color: $blue
        line-height: $maxHeightTitle