#gadmin
  .rightPanel
    height: 100%
    width: calc( 100% - #{$maxWidthLleftPanel})
    margin-left: $maxWidthLleftPanel
    background-color: $white
    .top-menu
      background-color: $white
      border-bottom: 1px solid $gray-300
      height: $maxHeightTitle
      max-height: $maxHeightTitle
      position: fixed
      top: 0
      width: 100%
      .navbar
        .navLeftToggleLarge, .navLeftToggleSmall
          padding: .25rem .75rem
          font-size: 1.25rem
          border: 1px solid rgba(255, 255, 255, .1)
          border-radius: .25rem
          background-color: $blue
          color: $white
          &.active
            background-color: $white
            color: $blue
        button.navbar-toggler
          background-color: $white
          color: $blue
          &.collapsed
            background-color: transparent
            color: $white
    .container
      padding-top: 15px
      margin-top: 56px
      width: 100% !important
  .rightPanelIco
    width: 100% !important
    margin-left: 0
    +transition(all, .2s, ease)
    .top-menu
      margin-left: $minWidthLleftPanel
      width: calc( 100% - #{$minWidthLleftPanel}) !important

@media (max-width: 767.98px)
  #gadmin
    .rightPanel, .rightPanelIco
      margin-left: 0 !important
      width: 100% !important
      max-width: 100% !important
      .top-menu
        z-index: 1000
        margin-left: 0
        width: 100% !important
