/*Styles for gadmin*/
@import variables
@import mixin/shadowBox
@import mixin/transition
@import mixin/rotate
@import mixin/borderRadius
@import leftPanel
@import rightPanel
@import utilities/border
@import background
@import card/cardClickable
@import card/cardModule

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i')

#gadmin
  font-family: 'Ubuntu', sans-serif
  overflow-x: hidden
  line-height: 1.5
  width: 100%
  height: 100%
